<%
depend = unit_option.parent

while !depend.nil? and depend.value_points.nil? do
  depend = depend.parent
end

%>
<li>
  <em><span><%= value_points(magic_item.value_points) %></span> pts</em>
  <label><%= check_box_tag "army_list_unit[magic_item_ids][]", magic_item.id, army_list_unit.magic_items.member?(magic_item), :id => "army_list_unit_magic_item_ids_#{magic_item.id}", "data-depend" => depend.try(:id), "data-radio" => magic_item.name.match(/^Fragment de Malepierre/i) ? nil : true %> <%= magic_item.name %></label>
</li>
