<% if equipments.any? %>
  <tr class="army_list_unit_more">
    <th>Equipements <%= "(#{troop.name})" unless troop.nil? %></th>
    <td colspan="10">
      <% equipments.each_with_index do |equipment, index| %>
        <%= "•" if index > 0 %> <%= equipment.name %>
      <% end %>
    </td>
  </tr>
<% end %>
