@import 'common.css';
@import 'home.css';

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

#army_list_search label {
  position: relative;
  top: 2px;
}

#army_list_search #search_army_id_eq {
  margin-left: 20px;
  margin-right: 100px;
  width: 220px;
}

#army_list_search #search_value_points_gte, #army_list_search #search_value_points_lte {
  margin: 0 5px;
  width: 60px;
}

#army_list_search input[type=submit] {
  float: right;
}

.army_list_row {
  position: relative;
  margin-bottom: 10px;
  height: 180px;
}

.army_list_row p {
  margin: 5px 0;
  text-align: center;
}

.army_list_row:hover {
  cursor: pointer;
}

.army_list_row .actions {
  display: none;
}

.army_list_row:hover .actions {
  display: block;
}

.army_list_row .value_points {
  position: absolute;
  top: 65px;
  right: 20px;
  font: 40px GodOfWar;
  line-height: 20px;
  color: #fff;
  text-align: right;
  text-shadow: -2px 0 #470b03, 0 2px #470b03, 2px 0 #470b03, 0 -2px #470b03;
}

.army_list_portrait {
  position: absolute;
  top: -35px;
  left: 300px;
  margin: 0 auto;
  white-space: nowrap;
}

.army_list_portrait img {
  float: left;
  margin-right: 5px;
}

.army_list_portrait h2, .army_list_portrait h2 a {
  font: 18px GodOfWar;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}

.army_list_portrait h1 {
  font: 25px GodOfWar;
  line-height: 30px;
  color: #470b03;
}

#subheader.army_list button, #subheader.army_list input[type=submit] {
  float: right;
  margin-left: 10px;
}

.army_list_value_points {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 15px 7px;
  width: 166px;
  height: 122px;
  background: url(../images/bg_army_list_value_points.png) no-repeat;
}

.army_list_value_points h3 {
  margin-bottom: 15px;
  font: 18px GodOfWar;
  color: #470b03;
  text-align: center;
}

.army_list_value_points ul li {
  list-style: none;
  padding: 1px 2px;
}

.army_list_value_points ul li.red {
  background: rgba(192, 4, 24, .3);
}

.army_list_value_points ul li.green {
  background: rgba(177, 200, 0, .3);
}

.army_list_value_points em {
  float: right;
  font-style: normal;
}

.army_list_choice_new {
  clear: right;
  float: right;
  display: block;
  margin-right: 10px;
  padding-top: 45px;
  padding-right: 10px;
  width: 170px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  background: url(../images/bt_new_army_list_choice.png) no-repeat;
}

.army_list_choices_overview {
  float: left;
}

.army_list_choices_overview li {
  list-style: none;
  margin-bottom: 10px;
}

.army_list_choice_overview {
  width: 725px;
  height: 55px;
  background: url(../images/bg_army_list_choice_overview.png) no-repeat;
}

#new_army_list_choice #army_list_choice_unit_id {
  width: 219px;
}

#new_army_list_choice #army_list_choice_size {
  width: 44px;
}