body {
  font: 13px 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
  color: #470b03;
}

a {
  color: #470b03;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  height: 100%;
  min-height: 750px;
  background: url(../images/bg_wrapper.jpg) repeat-y;
}

#header {
  padding-left: 30px;
  padding-right: 30px;
  height: 44px;
  background: url(../images/bg_header.png) no-repeat;
  color: #fff;
}

#header h1 {
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
}

#header h1 em {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}
#header h1 a {
  color: inherit;
  text-decoration: none;
}

#header .welcome {
  margin-top: 8px;
  font-size: 13px;
  text-align: right;
}

#header .welcome a {
  color: #fff;
}

#header .menu {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  list-style: none;
  padding: 10px 20px;
  width: 120px;
  background-color: rgba(71, 11, 3, 0.2);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}








