<% title "J'ai perdu mon mot de passe" -%>

<h2>J'ai perdu mon mot de passe</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <p><%= f.email_field :email, :placeholder => "Email" %></p>

  <p><%= f.submit "Valider" %></p>
<% end %>

<%= link_to "Je n'ai pas reçu d'email de confirmation", new_confirmation_path(resource_name) %><br />
Pour toutes questions n'hésitez pas à consulter l'<a href="mailto:support@whbab.com">aide en ligne</a>