// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.dashboard_section {
  float: left;
}

table.index_table th {
  white-space: nowrap;
}