table.index_table th {
  white-space: nowrap;
}

body.active_admin form select {
  max-width: 78%;
}

.unit_equipments_details table tbody tr:hover, .unit_special_rules_details table tbody tr:hover {
  cursor: move;
}
