/*
*= require reset
*= require 960
*= require formalize
*= require colorbox
*= require common
*= require home
*= require_self
*/


#army_list_search label {
  position: relative;
  top: 2px;
}

#army_list_search #search_army_id_eq {
  margin-left: 20px;
  margin-right: 100px;
  width: 220px;
}

#army_list_search #search_value_points_gte, #army_list_search #search_value_points_lte {
  margin: 0 5px;
  width: 60px;
}

#army_list_search input[type=submit] {
  float: right;
}

.army_list_row {
  position: relative;
  margin-bottom: 10px;
  height: 180px;
}

.army_list_row p {
  margin: 5px 0;
  text-align: center;
}

.army_list_row:hover {
  cursor: pointer;
}

.army_list_row .actions {
  display: none;
}

.army_list_row:hover .actions {
  display: block;
}

.army_list_row .value_points {
  position: absolute;
  top: 65px;
  right: 20px;
  font: 40px "godofwarregular";
  line-height: 20px;
  color: #fff;
  text-align: right;
  text-shadow: -2px 0 #470b03, 0 2px #470b03, 2px 0 #470b03, 0 -2px #470b03;
}

.edit_army_list #army_list_notes {
  min-height: 80px;
}

.army_list_portrait {
  position: absolute;
  top: -35px;
  left: 300px;
  margin: 0 auto;
  white-space: nowrap;
}

.army_list_portrait img {
  float: left;
  margin-right: 5px;
}

.army_list_portrait h2, .army_list_portrait h2 a {
  font: 18px "godofwarregular";
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}

.army_list_portrait h1 {
  font: 25px "godofwarregular";
  line-height: 30px;
}

#subheader.army_list button, #subheader.army_list input[type=submit] {
  float: right;
  margin-left: 10px;
}

#subheader.army_list button.left {
  float: none;
  margin: 0;
}

.army_list_value_points, .army_list_notes {
  float: right;
  clear: right;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 15px 7px;
  width: 166px;
  height: 122px;
  background: image-url("bg_army_list_value_points.png") no-repeat;
}

.army_list_value_points h3, .army_list_notes h3 {
  margin-bottom: 25px;
  font: 20px "godofwarregular";
  line-height: 14px;
  text-align: center;
}

.army_list_value_points ul li {
  list-style: none;
  padding: 1px 2px;
}

.army_list_value_points ul li.red {
  background: rgba(192, 4, 24, .3);
}

.army_list_value_points ul li.green {
  background: rgba(177, 200, 0, .3);
}

.army_list_value_points em {
  float: right;
  font-style: normal;
}

.army_list_unit_new {
  clear: right;
  float: right;
  display: block;
  margin-right: 10px;
  padding-top: 45px;
  padding-right: 10px;
  width: 170px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  background: image-url("bt_new_army_list_unit.png") no-repeat;
}

.army_list_units_overview {
  float: left;
}

.army_list_units_overview li {
  list-style: none;
  margin-bottom: 10px;
}

.army_list_unit_overview {
  position: relative;
  padding: 10px;
  padding-left: 15px;
  width: 700px;
  height: 35px;
  background: image-url("bg_army_list_unit_overview.png") no-repeat;
}

.army_list_unit_overview .position {
  position: absolute;
  top: 15px;
  left: -12px;
  background: white;
  padding: 2px 3px;
  border: 1px solid black;
}

.army_list_unit_overview .position:hover {
  cursor: move;
}

.army_list_unit_overview .name {
  float: left;
  width: 360px;
  font-size: 14px;
}

.army_list_unit_overview .name strong {
  display: block;
  font: 18px "godofwarregular";
}

.army_list_unit_overview .name em {
  font-style: normal;
  font-weight: bold;
}

.army_list_unit_overview .name:hover {
  cursor: pointer;
}

.army_list_unit_overview .value_points {
  float: left;
  width: 110px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.army_list_unit_overview .value_points strong {
  display: block;
  font-size: 20px;
}

.army_list_unit_overview .actions {
  position: absolute;
  top: -4px;
  right: -7px;
  padding-top: 20px;
  padding-left: 60px;
  width: 190px;
  height: 36px;
}

.army_list_unit_overview .actions button {
  margin-right: 5px;
}

.army_list_unit_overview .ribbon {
  position: absolute;
  top: -4px;
  right: -7px;
  width: 97px;
  height: 54px;
}

.army_list_unit_details {
  margin: 0 10px;
  padding: 15px;
  width: 675px;

  background-color: rgba(71, 11, 3, 0.1);
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid rgba(71, 11, 3, 0.5);
  border-top: none;

  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.army_list_unit_details table {
  width: 100%;
}

.army_list_unit_details table thead th {
  padding-bottom: 5px;
  font-weight: bold;
}

.army_list_unit_details h4 {;
  margin-top: 10px;
}

.army_list_unit_details .options {
  float: right;
  width: 320px;
}

.army_list_unit_details .options em, .edit_army_list_unit #army_list_unit_unit_options em, .edit_army_list_unit #army_list_unit_magic_items em, .edit_army_list_unit #army_list_unit_magic_standards em, .edit_army_list_unit #army_list_unit_extra_items em {
  float: right;
}

.edit_army_list_unit ul {
  list-style: none;
}

.edit_army_list_unit li ul {
  padding-left: 15px;
}

.edit_army_list_unit h3 {
  padding-top: 3px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: rgba(71, 11, 3, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.edit_army_list_unit table {
  margin: 10px 0;
}

.edit_army_list_unit table td {
  vertical-align: middle;
  padding-right: 5px;
}

.edit_army_list_unit .army_list_unit_troop_size {
  width: 30px;
  text-align: right;
}

.edit_army_list_unit #army_list_unit_magic_items, .edit_army_list_unit #army_list_unit_magic_standards, .edit_army_list_unit #army_list_unit_extra_items{
  margin-left: 10px;
  width: 300px;
  overflow: hidden;
}

.edit_army_list_unit #army_list_unit_unit_options {
  width: 450px;
  overflow: hidden;
}

.edit_army_list_unit #army_list_unit_magic_items ul li strong, .edit_army_list_unit #army_list_unit_magic_standards ul li strong {
  cursor: pointer;
}

.edit_army_list_unit #army_list_unit_troops {
  white-space: nowrap;
}

.edit_army_list_unit #army_list_unit_all_options td {
  vertical-align: top;
}
