@font-face {
    font-family: 'godofwarregular';
    src: url('godofwar-webfont.eot');
    src: url('godofwar-webfont.eot?#iefix') format('embedded-opentype'),
         url('godofwar-webfont.woff') format('woff'),
         url('godofwar-webfont.ttf') format('truetype'),
         url('godofwar-webfont.svg#godofwarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #470b03;
  background: image-url("bg_body.jpg") 50% 0 repeat;
}

a {
  color: #470b03;
  text-decoration: underline;
}

a:hover {
  color: #a01e14;
  text-decoration: none;
}

form.button_to, form.button_to div {
  display: inline;
}

#wrapper {
  background: image-url("bg_header.png") 50% 0 repeat-x;
}

#header {
  position: relative;
  height: 44px;
  color: #fff;
}

#header h1 {
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
}

#header h1 em {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}
#header h1 a {
  color: inherit;
  text-decoration: none;
}

#header .welcome {
  text-align: right;
}

#header .welcome strong, #header .welcome a {
  float: right;
  display: block;
  padding: 10px 10px 0 10px;
  height: 28px;
  font-size: 13px;
  font-weight: normal;
}

#header .welcome strong:hover, #header .welcome strong.over, #header .welcome a:hover {
  cursor: pointer;
  background-color: #6c3c35;
}

#header .welcome a {
  color: #fff;
  text-decoration: none;
}

#header .welcome img {
  position: relative;
  top: -2px;
}

#header .menu {
  display: block;
  position: absolute;
  top: 38px;
  right: 10px;
  min-width: 120px;
  list-style: none;
  padding: 5px 10px;
  background-color: #6c3c35;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
}

#header .menu li {
  margin: 5px 0;
}

#header .menu a {
  color: #fff;
  text-decoration: none;
}

#header .menu a:hover {
  text-decoration: underline;
}

#subheader {
  margin: 0 50px;
  margin-top: -2px;
  margin-bottom: 20px;
  padding: 8px 20px;
  height: 24px;
  font: 18px "godofwarregular";

  background-color: rgba(71, 11, 3, 0.2);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#content {
  position: relative;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80px;
  background: image-url("bg_footer.png") 50% 50% no-repeat;
}

.popin {
  overflow: hidden;
  -moz-border-image: image-url("border_popin.png") 20 20 10 20 stretch stretch;
  -webkit-border-image: image-url("border_popin.png") 20 20 10 20 stretch stretch;
  border-image: image-url("border_popin.png") 20 20 10 20 stretch stretch;
  border-width: 20px 20px 10px 20px;
  border-style: solid;
}

.popin h1 {
  margin-bottom: 20px;
  font: 22px "godofwarregular";
  font-weight: normal;
}

.popin h3 {
  margin-bottom: 5px;
  font: 14px "godofwarregular";
  font-weight: normal;
}

.popin p {
  margin: 10px 0;
}

.popin p.close {
  margin-top: 20px;
  text-align: center;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}
