/*
*= require reset
*= require 960
*= require_self
*/

@font-face {
    font-family: "godofwarregular";
    src: font-url("godofwar-webfont.eot");
    src: font-url("godofwar-webfont.eot?#iefix") format("embedded-opentype"),
         font-url("godofwar-webfont.woff") format("woff"),
         font-url("godofwar-webfont.ttf") format("truetype"),
         font-url("godofwar-webfont.svg#godofwarregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

body {
  font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #000;
}

a {
  color: #470b03;
  text-decoration: none;
}

#header {
  position: relative;
  color: #470b03;
  height: 100px;
  background: image-url("pdf/bg_header.png") 0 50% no-repeat;

  h1 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    strong {
      display: block;
      font-size: 20px;
      font-weight: bold;
    }
  }

  h2 {
    margin-top: 8px;
    width: 850px;
    font: 30px "godofwarregular";
    text-align: right;

    strong {
      margin-left: 10px;
      font-size: 40px;
    }
  }

  img {
    display: block;
    float: right;
  }
}

#footer {
  overflow: hidden;
  margin-top: 15px;
  padding-top: 15px;
  height: 35px;
  color: #470b03;
  background: image-url("pdf/bg_header.png") no-repeat;

  .user_name, .site, .today {
    float: left;
    width: 320px;
    font: 18px "godofwarregular";
  }

  .site {
    text-align: center;
  }

  .today {
    text-align: right;
  }
}

.army_list_value_notes {
  margin-bottom: 10px;
}

.army_list_value_points {
  height: 40px;
  background: #f2ead3;
  overflow: hidden;

  ul {
    padding: 0 5px;
    list-style: none;

    li {
      float: left;
      padding: 0 15px;
      width: 160px;
      font-size: 13px;
      line-height: 40px;

      strong {
        font-size: 14px;
      }

      small {
        font-size: 11px;
      }
    }

    li.red {
      background: rgba(192, 4, 24, .3);
    }
  }
}

.army_list_unit {
  page-break-inside: avoid;
  margin-top: 15px;
  font-size: 13px;
  width: 100%;
  border-top: 2px solid #470b03;

  tr {
    border-top: 1px solid #470b03;
    border-bottom: 1px solid #470b03;
  }

  th {
    font-weight: bold;
  }

  th, td {
    padding: 3px;
  }

  .army_list_unit_overview {
    font-size: 14px;
    font-weight: normal;
    background: rgba(242, 234, 211, .4);

    strong {
      display: block;
      font: 18px "godofwarregular";
      font-weight: normal;
    }

    .value_points {
      float: right;
      font-size: 25px;
      font-weight: bold;
      line-height: 35px;
      font-variant: small-caps;
    }
  }

  .army_list_unit_troops {
    border: none;

    th.troop_name, td.troop_name {
      border-right: 1px solid #470b03;
    }

    th {
      text-align: center;
      border-bottom: 1px solid #470b03;

      &.odd {
        background: rgba(242, 234, 211, .6);
      }
    }

    td {
      padding: 0 3px;

      &.odd {
        background: rgba(242, 234, 211, .6);
      }

      &.troop_name {
        padding-left: 10px;
        padding-right: 10px;

        em {
          display: block;
          float: right;
        }
      }

      &.characteristic {
        width: 6%;
        text-align: center;
      }

      &.troop_type {
        width: 18%;
        text-align: center;
      }
    }
  }

  .army_list_unit_more {
    th {
      border-right: 1px solid #470b03;
    }

    &.lite {
      th {
        width: 125px;
      }
    }
  }
}
