<!DOCTYPE html>
<html>
<head>
  <title>Whbab</title>
  <%= stylesheet_link_tag 'scaffold', 'application' %>
  <%= javascript_include_tag :defaults, 'rails.validations' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
