<p>Bonjour et bienvenue sur Army Builder,</p>

<p>La création de votre compte a bien été prise en compte.<br />
Pour l'activer, merci de cliquer sur le lien suivant :</p>

<p><%= link_to 'Confirmer votre inscription', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Ceci est uniquement un message d'information. Les emails envoyés à cette adresse ne seront pas pris en compte.<br />
Pour toutes questions n'hésitez pas à consulter l'<a href="mailto:support@whbab.com">aide en ligne</a></p>

<p>L'équipe Army Builder</p>
