<p>Bonjour,</p>

<p>Quelqu'un a demandé le changement du mot de passe du compte Army Builder lié à l'adresse email suivante :</p>

<p><%= @resource.email %></p>

<p>Pour effectuer le changement, cliquez sur le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez rien demandé, ne tenez pas compte de ce message. Votre mot de passe ne changera pas.</p>

<p>Ceci est uniquement un message d'information. Les emails envoyés à cette adresse ne seront pas pris en compte.<br />
Pour toutes questions n'hésitez pas à consulter l'<a href="mailto:support@whbab.com">aide en ligne</a></p>

<p>L'équipe Army Builder</p>
